body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #2c3e50, #3498db);
  opacity: 0;
  transition: opacity 0.7s ease;
}

body.fade-out {
  opacity: 0;
}

.container {
  background-image: url("rasm.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  min-height: 60vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
}

.city-name {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 123, 255, 0.5);
  text-align: center;
}

.forecast-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
}

.forecast-item img {
  width: 40px;
  height: 40px;
}

button {
  background-color: #ffce00;
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #f1b800;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
    padding: 15px;
  }

  .city-name {
    font-size: 20px;
  }

  .forecast-item {
    font-size: 14px;
  }
}
